* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
}
header img {
  width: 50px;
  height: 50px;
  border: 2px solid gold;
  border-radius: 100%;
  margin: 0 5px;
}
.dashboard {
  display: flex;
}

.view {
  padding: 10px;
  min-height: 100vh; /* Should be removed. Only for demonstration */
  margin-left: 20%;
}
.side {
  background-color: #003746;
  width: 20%;
  position: fixed;
  top: 12vh;
  left: 0;
  bottom: 0;
}
.view {
  background-color: #142d39;
  width: 80%;
  color: white;
}
h2 {
  font-size: 1.5em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: red;
}
.header {
  display: flex;
  flex-direction: row;
  background-color: #1c1f26;
  min-height: 10vh;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: goldenrod;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 255;
}
.header h1 {
  font-size: 20px;
  font-weight: 700;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.dashboard nav ul li {
  color: honeydew;
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
}
.infobox {
  width: 100%;
  min-height: 50vh;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.infobox .request {
  line-height: 1.5em;
}
.infobox .request h2 {
  color: rgba(245, 196, 124, 0.911);
}
code {
  font-size: 1vw;

  overflow: hidden;
  border-radius: 20px;
}
.request code {
  width: 40%;
}
a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: rgb(255, 69, 0);
  padding: 0.5em 3em;
  border-radius: 10px;
  font-weight: bold;
  margin: 10px;
  box-shadow: 1px 1px 5px inset rgba(0, 0, 0, 0.5);
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.5));
}
